<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_app_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Studentmanagement"
        tools:targetApi="31">
        <activity android:name=".activities.authen.LoginActivity"
            android:exported="true"/>
        <activity android:name=".activities.home.HomeAdminActivity"
            android:exported="true"/>
        <activity android:name=".activities.authen.ChangePasswordActivity"
            android:exported="true"/>
        <activity android:name=".activities.faculty.MainFacultyActivity"
            android:exported="true"/>
        <activity android:name=".activities.faculty.InforFacultyActivity"
            android:exported="true"/>
        <activity android:name=".activities.faculty.AddFacultyActivity"
            android:exported="true"/>
        <activity android:name=".activities.faculty.EditFacultyActivity"
            android:exported="true"/>
        <activity android:name=".activities.course.MainCourseActivity"
            android:exported="true"/>
        <activity android:name=".activities.course.AddCourseActivity"
            android:exported="true"/>
        <activity android:name=".activities.course.InforCourseActivity"
            android:exported="true"/>
        <activity android:name=".activities.course.EditCourseActivity"
            android:exported="true"/>
        <activity android:name=".activities.lecturer.MainLecturerActivity"
            android:exported="true"/>
        <activity android:name=".activities.lecturer.AddLecturerActivity"
            android:exported="true"/>
        <activity android:name=".activities.lecturer.InforLecturerActivity"
            android:exported="true"/>
        <activity android:name=".activities.lecturer.EditLecturerActivity"
            android:exported="true"/>
        <activity android:name=".activities.practicalclass.MainPracticalClassActivity"
            android:exported="true"/>
        <activity android:name=".activities.practicalclass.AddPracticalClassActivity"
            android:exported="true"/>
        <activity android:name=".activities.practicalclass.InforPracticalClassActivity"
            android:exported="true"/>
        <activity android:name=".activities.practicalclass.EditPracticalClassActivity"
            android:exported="true"/>
        <activity android:name=".activities.student.MainStudentActivity"
            android:exported="true"/>
        <activity android:name=".activities.student.AddStudentActivity"
            android:exported="true"/>
        <activity android:name=".activities.student.EditStudentActivity"
            android:exported="true"/>
        <activity android:name=".activities.student.InforStudentActivity"
            android:exported="true"/>
        <activity android:name=".activities.statistic.MainStatisticActivity"
            android:exported="true"/>
        <activity android:name=".activities.statistic.ViewStatisticActivity"
            android:exported="true"/>
        <activity
            android:name=".activities.authen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>